.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  .barChartContainer {
    width: 65%;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .pieChartContainer {
    width: 30%;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
